---
import Course from '@components/home/experience/event/Course.astro';
import Education from '@components/home/experience/event/Education.astro';
import Role from '@components/home/experience/event/Role.astro';
import { ExternalLink } from '@lucide/astro';
import { getCollection, type CollectionEntry } from 'astro:content';

interface Props {
    organisation: CollectionEntry<'organisations'>;
    isLast?: boolean;
}

const { organisation, isLast = false } = Astro.props;

const events = (
    await getCollection('events', ({ data }) => {
        return data.organisationId.id === organisation.data.id;
    })
).sort(function (a, b) {
    return b.data.dateFrom.getTime() - a.data.dateFrom.getTime();
});

const active =
    organisation.data.type === 'employer' &&
    events.some((event) => !event.data.dateTo);
---

<div class="flex gap-[18px]">
    <div class="relative flex w-5 justify-center">
        <div
            class:list={[
                'border-accent-strong mt-1.5 h-[11px] w-[11px] flex-none rounded-full border-2',
                active ? 'bg-accent-strong' : 'bg-bg'
            ]}
        >
        </div>
        {!isLast && <div class="bg-border absolute top-6 -bottom-1.5 w-px" />}
    </div>
    <div class="flex-1 pb-8">
        <h3 class="text-lg font-bold">
            <a
                class="inline-flex items-center gap-1 hover:underline"
                href={organisation.data.uri}
                target="_blank"
                rel="noopener"
            >
                <span>{organisation.data.name}</span>
                <ExternalLink class="inline h-4 w-4" />
            </a>
        </h3>
        {
            organisation.data.type === 'employer' && (
                <div class="mt-3 flex flex-col gap-[18px]">
                    {events.map((event) => (
                        <Role event={event} />
                    ))}
                </div>
            )
        }
        {
            organisation.data.type === 'trainer' && (
                <div class="mt-2.5 flex flex-col">
                    {events.map((event) => (
                        <Course event={event} />
                    ))}
                </div>
            )
        }
        {
            organisation.data.type === 'university' &&
                events.map((event) => <Education event={event} />)
        }
    </div>
</div>
