---
import { type CollectionEntry } from 'astro:content'

import { ExternalLink } from 'lucide-astro'

import EventDate from './EventDate.astro'
import EventDuration from './EventDuration.astro'

interface Props {
    event: CollectionEntry<'events'>
    organisation: CollectionEntry<'organisations'>
}

const { event, organisation } = Astro.props

const isActive = !event.data?.dateTo && organisation.data.type === 'employer' ? true : false
---

<div class="flex">
    <div
        class=":bg-neutral-700 relative w-8 after:absolute after:start-4 after:top-7 after:bottom-2 after:w-px after:bg-gray-300 last:after:hidden"
    >
        <div class="relative z-10 flex size-8 items-center justify-center">
            <div class="relative z-10 flex size-8 items-center justify-center">
                <span class="relative inline-flex size-3 rounded-full bg-amber-600">
                    {
                        isActive && (
                            <span class="absolute inline-flex h-full w-full animate-ping rounded-full bg-amber-600" />
                        )
                    }
                </span>
            </div>
        </div>
    </div>

    <div class="grow pt-0.5 pb-8">
        <h5 class="flex text-lg font-semibold tracking-tight text-gray-900">
            {
                event.data.uri && (
                    <a class="space-x-1" href={event.data.uri} target="_blank">
                        <span class="hover:underline">{event.data.title}</span>
                        <ExternalLink class="inline h-4 w-4" />
                    </a>
                )
            }
            {!event.data.uri && event.data.title}
        </h5>
        <p class="mt-2 text-sm text-gray-500">
            {event.data.type === 'training' && <EventDate date={event.data.dateFrom} />}
            {
                event.data.type !== 'training' && (
                    <EventDuration dateFrom={event.data.dateFrom} dateTo={event.data.dateTo} />
                )
            }
        </p>
    </div>
</div>
