---
import { AstroSeo } from '@astrolib/seo'

import Header from '../components/header/index.astro'
import Footer from '../components/footer/index.astro'

interface metaData {
    title?: string
    description?: string
}

interface Props {
    metaData: metaData
}

function titleText(title: string | undefined) {
    return title ? `${title} - ${site}` : site
}

const { metaData } = Astro.props

const site = 'Matthew Akino-Wittering'
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <AstroSeo title={`${titleText(metaData.title)}`} description={metaData.description} />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    </head>
    <body class="flex min-h-screen flex-col bg-white">
        <Header />
        <div class="mt-16 flex-grow">
            <slot />
        </div>
        <Footer />
        <script is:inline src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"
        ></script>
    </body>
</html>
