---
import '../styles/global.css';

interface metaTag {
    name: string;
    content: string;
}

interface metaData {
    title?: string;
    description?: string;
    additionalMetaTags?: Array<metaTag>;
}

interface Props {
    metaData: metaData;
}

function titleText(title: string | undefined) {
    return title ? `${title} - ${site}` : site;
}

const { metaData } = Astro.props;

const site = 'Matthew Akino-Wittering';
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{titleText(metaData.title)}</title>
        <meta name="description" content={metaData.description} />
        {
            metaData.additionalMetaTags?.map((tag) => (
                <meta name={tag.name} content={tag.content} />
            ))
        }
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700;800&display=swap"
            rel="stylesheet"
        />
    </head>
    <body class="bg-bg text-ink flex min-h-screen flex-col font-sans">
        <slot />
    </body>
</html>
